.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noOrder{
    color: red;
    padding: 50px;
    margin-top: 50px;
    font-size: xx-large;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orders {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    margin-top: 50px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}