.main {
    box-shadow: 0 4px 8px 0 #0071f31e, 0 6px 20px 0 #0071f33d;
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    cursor: pointer;
    max-width: 400px;
    max-height: 600px;
    transition-duration: 500ms;
}
.main:hover {
    box-shadow: 0 20px 40px 0 #0071f31e, 0 10px 25px 0 #0071f33d;
    scale: 1.05;
}
.title {
    padding: 10px;
    margin: 10px;
    font-weight: 500;
}
.image {
    
}
.price {
    font-size: large;
    font-weight: bolder;
    color: red;
}
